body{
border-radius: white;
  background-color: #fdffda;
}
h1{
  position: relative;
  left: 100px;
  font-family: sans-serif;
  font-size: 50px;
  color: grey;
  text-shadow: 1px grey;
}
div h4 img{
  display: inline-block;
  background-color: white;
}
h4{
position: relative;
left: 100px;
  border-bottom:3px solid red;
  width: 800px;
  font-family: monospace;
  padding-left: 5px;
  color: grey;
  font-size: 30px;
}
img{
  position:absolute;
  left: 100px;
  border-radius: 15px;

  width: 800px;

}
